.content {
  .title {
    margin-bottom: 44px;
    h1 {
      color: white;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .boxes_container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .box {
      background: #00000080;
      display: flex;
      flex-direction: column;
      gap: 0px;
      border-radius: 12px;
      text-decoration: none;
      padding: 12.7px 9.5px;
      color: unset;
      &:first-child {
        border: 1px solid #f49d41;
      }

      .info_container {
        display: flex;
        align-items: center;
        gap: 8px;
        .img_container {
          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            object-fit: contain;
          }
        }
        .text_container {
          color: white;
          display: flex;
          flex-direction: column;

          .title {
            margin-bottom: 0;
            h3 {
              margin: 0;
              font-size: 12px;
              font-weight: 700;
            }
          }
          .desc {
            p {
              margin: 0;

              display: -webkit-box;
              -webkit-line-clamp: 1; /* Limit to 2 lines */
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
      .link_container {
        display: flex;
        align-self: end;
        align-items: center;
        gap: 4.7px;
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          color: white;
        }

        .icon_container {
          width: 21.75px;
          height: 21.75px;
          background-color: #f7f7f9;
          display: flex;
          border-radius: 50%;
          svg {
            margin: auto;
            color: #000000;
          }
        }
      }
    }
  }
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.286);
  backdrop-filter: blur(5px);
  // background: #1a1a1a;
  // backdrop-filter: blur(200px);

  width: 100%;
  height: 100%;
}
