section.cities {
  position: relative;

  .sec_container {
    .sec_title {
      margin-bottom: 36px;
      position: relative;
      h3 {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: var(--main-white);
      }

      .shape_container {
        height: 167px;
        width: 100%;
        position: absolute;
        bottom: -100px;
        left: 0;
        z-index: -1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .boxes_container {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: repeat(2, 1fr);
      gap: 12.7px;
      justify-content: center;
      justify-items: center;
      margin-bottom: 50px;

      .box {
        text-decoration: none;
        position: relative;
        width: 168.99px;
        height: 252.06px;
        overflow: hidden;
        border-radius: 12px;
        display: flex;
        cursor: pointer;

        .img_container {
          position: absolute;
          top: 0;
          right: 0;
          img {
            width: 175.99;
            height: 265.06;
            object-fit: cover;
          }
        }
        .title {
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: flex-end;
          margin-top: auto;
          // height: 100%;
          align-self: flex-end;
          background: #00000080;
          background-blend-mode: overlay;
          width: 100%;
          backdrop-filter: blur(2px);
          gap: 6px;
          border-radius: 12px;
          padding: 12px;
          h6 {
            margin: 0;
            color: white;
            font-size: 14px;
            font-weight: 600;
          }
          svg {
            color: white;
          }
        }
      }

      .card {
        position: relative;
        width: 168.99px;
        height: 252.06px;
        overflow: hidden;
        border-radius: 12px;
        display: flex;

        text-decoration: none;
        color: unset;

        .card_top {
          background-color: var(--main-yellow);
          position: absolute;
          left: 11px;
          top: 11px;
          border-radius: 6px;

          p {
            font-weight: 600;
            color: white;
            font-size: 12px;
            margin: 0;
            padding: 4px 8px;
          }
        }
        .img_container {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            // width: 271.91px;
            // height: 284.14px;
            object-fit: cover;
          }
        }
        .card_bottom {
          position: relative;
          z-index: 2;
          text-align: right;

          margin-top: auto;
          // height: 100%;
          align-self: flex-end;
          // background: #0000005f;

          background: #00000080;
          background-blend-mode: overlay;
          width: 100%;
          backdrop-filter: blur(2px);
          gap: 6px;
          border-radius: 12px;
          padding: 12px;

          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;

          .title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 8px;
            h6 {
              margin: 0;
              color: white;
              font-size: 13px;
              font-weight: 400;

              span {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 6.2px;
                align-items: center;
                gap: 5.38px;
              }
            }
            svg {
              color: white;
              width: 15.38px;
              height: 19.1px;
            }
          }

          .explore {
            display: flex;
            align-items: center;
            gap: 8px;
            p {
              margin: 0;
              font-weight: 600;
              font-size: 14px;
              color: white;
            }

            .icon_container {
              border-radius: 50%;
              background-color: white;
              width: 28px;
              height: 28px;
              display: flex;

              svg {
                margin: auto;
              }
            }
          }
        }
      }
    }

    .icons_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-bottom: 16px;
      .icon {
        border-radius: 50%;
        border: 1px solid white;
        padding: 4px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        svg {
          color: white;
          width: 28px;
          transition: all 0.3s ease-in-out;
          height: 28px;
        }

        &.active {
          border-color: #f49d41;

          svg {
            color: #f49d41;
          }
        }
      }
    }

    .boxes_container_mobile {
      .box {
        margin-left: 0px;

        a {
          text-decoration: none;
          color: unset;
          text-align: left;
        }
        .img_container {
          img {
          }
        }
        .title {
          h5 {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--main-purble-color);
          }
        }

        .desc {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #8e8eae;
        }
      }
    }

    .boxes_container_mobile {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;
      margin-bottom: 50px;
      column-count: 2;
      column-gap: 16px;
      width: 100%;
      display: block;
      margin-top: 16px !important;
      a.box {
        cursor: pointer;
      }

      .box {
        text-decoration: none;
        color: white;
        break-inside: avoid;
        display: inline-block;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        text-decoration: none;
        padding: 0;
        border-radius: 16px;
        position: relative;
        z-index: 2;
        transition: var(--main-transation);
        align-items: flex-end;
        display: flex;
        padding: 16px;
        margin-left: 0px;
        margin-bottom: 16px;
        // width: 100%;
        .card_top {
          background-color: var(--main-yellow);
          position: absolute;
          left: 11px;
          top: 11px;
          border-radius: 6px;

          p {
            font-weight: 600;
            color: white;
            font-size: 12px;
            margin: 0;
            padding: 4px 8px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.5;
          border-radius: 16px;
          background: linear-gradient(
            143.2deg,
            rgba(142, 142, 174, 0.1) 0%,
            rgba(142, 142, 174, 0.1) 0.01%,
            #035746 100%
          );
        }
        .img_container {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          border-radius: 16px;

          img {
            object-fit: cover;
            border-radius: 16px;

            width: 100%;
            height: 100%;
          }
        }

        .title {
          h5 {
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            color: var(--white);
          }
        }
      }
    }
  }
  .swiper_container {
    .card {
      position: relative;
      width: 100%;
      height: 284.14px;
      overflow: hidden;
      border-radius: 12px;
      display: flex;
      text-decoration: none;
      color: unset;

      .card_top {
        background-color: var(--main-yellow);
        position: absolute;
        left: 11px;
        top: 11px;
        border-radius: 6px;
        display: none;
        p {
          font-weight: 600;
          color: white;
          font-size: 12px;
          margin: 0;
          padding: 4px 8px;
        }
      }
      .img_container {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        img {
          width: 100%;
          height: 284.14px;
          object-fit: cover;
        }
      }
      .card_bottom {
        position: relative;
        z-index: 2;
        text-align: right;

        margin-top: auto;
        // height: 100%;
        align-self: flex-end;
        // background: #0000005f;

        background: #95433fdd;
        width: fit-content;
        gap: 6px;
        border-radius: 12px;
        padding: 12px;

        .title {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          gap: 8px;
          h6 {
            width: 100%;
            margin: 0;
            color: white;
            font-size: 16px;
            font-weight: bold;
            gap: 4px;
            text-align: start;
          }
        }
        .desc {
          p {
            font-size: 14px;
            color: white;
            font-weight: 500;
            // margin-top: 6.2px;

            // display: -webkit-box;
            // -webkit-line-clamp: 4;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: ellipsis;

            // white-space: normal;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
        }

        .explore {
          display: flex;
          align-items: center;
          gap: 8px;
          display: none;
          p {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            color: white;
          }

          .icon_container {
            border-radius: 50%;
            background-color: white;
            width: 28px;
            height: 28px;
            display: flex;

            svg {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

.container {
  padding-left: 0 !important;
}

// LTR

section.cities[dir="ltr"] {
  .sec_container {
    .sec_title {
      h3 {
      }

      .shape_container {
        img {
        }
      }
    }
    .boxes_container {
      .box {
        .img_container {
          right: unset;
          left: 0;
          img {
          }
        }
        .title {
          h6 {
          }
          svg {
          }
        }
      }

      .card {
        .card_top {
          p {
          }
        }
        .img_container {
          img {
          }
        }
        .card_bottom {
          .title {
            align-items: flex-start;
            h6 {
              text-align: start;

              span {
              }
            }
            svg {
            }
          }

          .explore {
            p {
            }

            .icon_container {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    .icons_container {
      .icon {
        svg {
        }

        &.active {
          svg {
          }
        }
      }
    }

    .boxes_container_mobile {
      .box {
        a {
        }
        .img_container {
          img {
          }
        }
        .title {
          h5 {
            text-align: left;
          }
        }

        .desc {
          text-align: left;
        }
      }
    }

    .boxes_container_mobile {
      a.box {
      }

      .box {
        .card_top {
          p {
          }
        }

        .img_container {
          img {
          }
        }

        .title {
          h5 {
          }
        }
      }
    }
  }
  .swiper_container {
    .card {
      .card_top {
        p {
        }
      }
      .img_container {
        img {
        }
      }
      .card_bottom {
        text-align: left;
        align-self: flex-end;

        background: #95433fdd;

        .title {
          h6 {
            text-align: left;
          }
        }
        .desc {
          p {
            direction: ltr;
            text-align: left;

            text-align: left !important;
          }
        }

        .explore {
          p {
          }

          .icon_container {
            border-radius: 50%;
            background-color: white;
            width: 28px;
            height: 28px;
            display: flex;

            svg {
              margin: auto;
            }
          }
        }
      }
    }
  }
}
