.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-green);
  z-index: 9999;

  .shape_container,
  .shape_container3,
  .shape_container2 {
    height: 167px;
    width: 100%;
    // margin-top: 120px;

    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .shape_container2 {
    top: unset;
    margin-top: 0;
    bottom: 0;
    img {
    }
  }

  .shape_container3 {
    top: -80px;
    z-index: -1;
  }

  .header_container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: relative;
  }
  .back_btn {
    background-color: #f7f7f9;
    border-radius: 16px;
    width: 37.51px;
    height: 37.51px;
    display: flex;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 0;
    svg {
      margin: auto;
      color: #6f6f6f;
    }
  }
  .logo {
    margin-bottom: 8px;

    flex: 1;
    display: flex;
    justify-content: center;
    // margin-left: 38px;

    img {
      width: 100px;
      height: 60px;
      object-fit: contain;
    }
  }

  .box_container {
    border-radius: 20px;
    backdrop-filter: blur(18px);
    background: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    position: relative;
    z-index: 55;

    .header_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0px;
      .title {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon_container {
          img {
            width: 24px;
            height: 19px;
            object-fit: contain;
          }
        }
        p {
          margin: 0;
          color: var(--main-red);
          font-weight: 600;
          font-size: 16px;
        }
      }

      .desc {
        p {
          margin: 0;
          color: black;
          font-weight: 700;
          font-size: 13.87px;
        }
      }
    }

    .boxes_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 16px;
      // overflow: scroll;
      // max-height: 300px;

      .swiper {
        width: 100%;
        padding: 20px;
      }

      .box {
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 65px;
        .title {
          p {
            color: white;
            font-weight: 400;
            font-size: 20.03px;
            text-align: left;
          }
        }

        .flag_container {
          img {
            width: 28px;
            height: 27px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

#header2 {
  position: relative;

  .box_container {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.header_container[dir="ltr"] {
  .back_btn {
    right: unset;
    left: 0;

    svg {
      transform: rotate(180deg);
    }
  }
}
