:root {
  --background: #ffffff;
  --foreground: #171717;
  --gr-color: linear-gradient(
    192.12deg,
    rgba(3, 87, 70, 0.39) 0.73%,
    rgba(3, 87, 70, 0.39) 54.59%,
    rgba(210, 89, 42, 0.39) 99.99%
  );

  --main-green: rgba(3, 87, 70, 1);
  --main-red: #e95345;
  --main-white: #ffffff;
  --main-yellow: #f49d41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--main-green);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-green) !important;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#header {
  .swiper-scrollbar-drag {
    background: var(--main-red) !important;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-scrollbar {
    left: 0 !important ;
  }
}

// #hero {
//   .swiper {
//     overflow: unset;
//   }
//   .swiper-pagination {
//     top: unset;
//     bottom: -100px;
//   }
//   .swiper-pagination-bullet {
//     width: 27px;
//     height: 6px;
//     border-radius: 2px;
//     background: #ffffff80;
//   }
// }

#hero {
  .swiper {
    overflow: visible;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px; // ✅ فوق الزر
    left: 50%;
    transform: translateX(-50%);
    z-index: 4; // فوق الفيديو
  }

  .swiper-pagination-bullet {
    width: 27px;
    height: 6px;
    border-radius: 2px;
    background: #ffffff80;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}
