section.cards {
  position: relative;
  .shape_container {
    // height: 167px;
    // width: 100%;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    // z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sec_container {
    .title {
      margin-bottom: 27px;
      h1 {
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
      }
    }

    .boxes_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      a {
        color: unset;
        text-decoration: none;
      }
      .box {
        display: flex;
        align-items: flex-start;
        padding: 12px;
        width: 100%;
        justify-content: space-between;

        border-radius: 12px;
        border: 1px solid white;
        backdrop-filter: blur(18px);
        background-color: rgba(82, 82, 82, 0.324);

        .details {
          display: flex;
          align-items: flex-start;
          gap: 7px;

          .img_container {
            width: 104px;
            height: 104px;
            overflow: hidden;
            border-radius: 15px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .text_container {
            h6 {
              margin: 0;
              font-weight: 700;
              font-size: 16px;
              color: white;
            }

            .icon_container {
              margin-top: 8px;
              display: flex;
              gap: 5px;
              svg {
                color: white;
                width: 18px;
                height: 18px;
              }
              p {
                margin: 0;
                color: white;
                font-size: 12px;
                font-weight: 600;
              }
            }
          }
        }

        .links {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          height: 100%;
          gap: 54px;
          .card_top {
            background-color: var(--main-yellow);
            width: fit-content;
            border-radius: 6px;

            p {
              font-weight: 600;
              color: white;
              font-size: 12px;
              margin: 0;
              padding: 4px 8px;
            }
          }

          .card_bottom {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
              color: white;
              font-size: 14px;
              font-weight: 600;
              margin: 0;
            }

            .icon_container {
              background-color: #f7f7f9;
              border-radius: 50%;
              display: flex;

              width: 28px;
              height: 28px;
              svg {
                margin: auto;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}
