.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  z-index: 10000;
}
.panel {
  background: var(--main-green);
  width: 100%;
  max-width: 600px;
  max-height: 50vh;
  border-radius: 12px;
  margin-top: 10vh;
  padding: 16px;
  display: flex;
  flex-direction: column;

  .closeBtn {
    background-color: transparent !important;
    border-radius: 5px;
    margin-bottom: 24px;
    align-self: center;
    background-color: none;
    border: 0.5px solid white;
    display: flex;
    width: 22px;
    height: 22px;
    svg {
      margin: auto;
    }
  }
}
.inputWrapper {
  position: relative;
  input {
    width: 100%;
    padding: 10px 40px 10px 16px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: var(--main-green);
    background-color: white;
  }
  .clearBtn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
  }
}
.resultsWrapper {
  color: white;
  margin-top: 12px;
  overflow-y: auto;
}
.group {
  margin-bottom: 16px;
  h4 {
    margin-bottom: 8px;
    font-size: 16px;
    color: white;
  }
}
.result {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
  }
}
.highlight {
  background: #ffe58a;
  font-weight: 600;
}
@media (max-width: 600px) {
  .panel {
    max-width: 100%;
    margin-top: 0;
    max-height: 100vh;
    border-radius: 0;
  }
}
